debug
build
log
temp
.vscode
documentation/Cybernetics/**/*.aux
documentation/Cybernetics/**/*.log
documentation/Cybernetics/**/*.fdb_latexmk
documentation/Cybernetics/**/*.fls
documentation/Cybernetics/**/*.toc
documentation/Cybernetics/**/*.gz
