<div class="main-div">
    <div class="bio-evo-header">
        <div class="current-info">
            <p>Selected config : {{current_config}}</p>
            <p>Current universe : {{current_universe}}</p>
        </div>

        <button mat-button>Refresh</button>

        <p style="color: red;">{{general_warning}}</p>

        <button>{{launch}}</button>
    </div>

    <mat-accordion class="example-headers-align" multi>

        <!----------  Configs  ---------->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Configs 
                </mat-panel-title>
                <mat-panel-description>
                    Choose an existing config 
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-selection-list multiple="false">
                <mat-list-option *ngFor="let config_name of configs"
                    (click)="select_config(config_name)">
                    <div matListItemLine>
                        <p>{{config_name}}</p>
                    </div>
                </mat-list-option> 
                <mat-divider></mat-divider>
            </mat-selection-list>

        </mat-expansion-panel>



        <!----------  Universes  ---------->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Universes 
                </mat-panel-title>
                <mat-panel-description>
                    Universes of the experiments 
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p style="color: red;">{{warning_universe}}</p>

            <mat-form-field appearance="fill">
                <mat-label>New universe</mat-label>
                <input matInput [(ngModel)]="new_universe">   
            </mat-form-field>

            <button mat-button (click)="add_universe()">Add</button>

            <mat-selection-list multiple="false">
                <mat-list-option *ngFor="let universe_name of universes"
                    (click)="current_universe = universe_name">
                    <div matListItemLine>
                        <p>{{universe_name}}</p>
                        <button mat-button style="color: red;">remove</button>
                    </div>
                </mat-list-option> 
                <mat-divider></mat-divider>
            </mat-selection-list>

        </mat-expansion-panel>


        <!----------  Environments  ---------->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Environments 
                </mat-panel-title>
                <mat-panel-description>
                    Environment of {{current_universe}} 
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p style="color: red;" *ngIf="current_universe === &quot;&quot;">
                No universe selected
            </p>

            <p style="color: red;" *ngIf="current_universe !== &quot;&quot;">
                {{warning_environment}}
            </p>

            <mat-form-field *ngIf="env_by_univ.get(current_universe) === &quot;&quot;" appearance="fill">
                <mat-label>Create environment for {{current_universe}}</mat-label>
                <input matInput [(ngModel)]="new_environment">   
            </mat-form-field>

            <button mat-button *ngIf="env_by_univ.get(current_universe) === &quot;&quot;"
                (click)="add_environment()">Add</button>

            <p>{{env_by_univ.get(current_universe)}}</p>

        </mat-expansion-panel>


        <!----------  Individuals  ---------->

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Individuals 
                </mat-panel-title>
                <mat-panel-description>
                    Individuals of {{current_universe}} 
                <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p style="color: red;" *ngIf="current_universe === &quot;&quot;">
                No universe selected
            </p>

            <p style="color: red;" *ngIf="current_universe !== &quot;&quot;">
                {{warning_individual}}
            </p>

            <mat-form-field *ngIf="current_universe !== &quot;&quot;"
                appearance="fill">
                <mat-label>Create individidual for {{current_universe}}</mat-label>
                <input matInput [(ngModel)]="new_individual">   
            </mat-form-field>

            <button mat-button *ngIf="current_universe !== &quot;&quot;"
                (click)="add_individual()">Add</button>

            <mat-selection-list *ngIf="current_universe !== &quot;&quot;"
                multiple="false">
                <mat-list-option *ngFor="let individual_name of indiv_by_univ.get(current_universe)">
                    <div matListItemLine>
                        <p>{{individual_name}}</p>
                        <button mat-button style="color: red;">remove</button>
                    </div>
                </mat-list-option> 
                <mat-divider></mat-divider>
            </mat-selection-list>

        </mat-expansion-panel>

    </mat-accordion>
</div>