@use '../../../../../themes.scss' as *;

.main-div {
  margin: 25px;
}

.bio-evo-header {
  display: flex;
}

.bio-evo-header button {
  margin-left: 50px;
  margin-top: 8px;
}

mat-card {
  width: fit-content;  
  padding: 10px
}

.universe-content {
  display: flex;
}

.current-info p {
  width:fit-content ;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
